version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: rust_chat_redis
    ports:
      - "6379:6379"

  postgres:
    image: postgres:16
    container_name: rust_chat_postgres
    environment:
      POSTGRES_USER: rust_chat
      POSTGRES_PASSWORD: rust_chat
      POSTGRES_DB: rust_chat
    ports:
      - "5434:5432"
    volumes:
      - rust-chat-postgres:/var/lib/postgresql/data


volumes:
  rust-chat-postgres:
